mne==1.7.0
mne-bids==0.14
moabb==1.0.1
pyriemann==0.6
scikit-learn==1.5.2
numpy==2.1.2
scipy==1.13.1
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
nilearn==0.10.4
joblib==1.4.2
optuna==3.6.1
xgboost==2.1.1
statsmodels==0.14.2
jinja2==3.1.4
